- content_for(:html_title) {"ログアウト確認画面 - FreemarketSample65a"}

- breadcrumb :logout
= render 'shared/nav_bar'
.mypage
  .mypage__content
    .mypage__log-out
      = link_to destroy_user_session_path, method: :delete, class:"mypage__log-out--link" do
        .mypage__log-out--button
          ログアウト
    .mypage__left
      = render partial: 'side-bar', locals: {tab_focus: 99}
