- content_for(:html_title) {"#{@keyword}の検索結果 - FreemarketSample65a"}

.main
  .pickup-categories
    .head
      - if @keyword.present?
        = "#{@keyword}の検索結果"
    .products
      .product-lists
        = render "items/products"
