.trans
  .trans-wrap
    .trans-main
    .trans-info
      .trans-info__title 取引情報
      .trans-info__contents
        .trans-info__heading 商品
        .trans-info__content カレー
      .trans-info__contents
        .trans-info__heading 送料
        .trans-info__content 送料込み(出品者負担)
      .trans-info__contents
        .trans-info__heading 購入日時
        .trans-info__content 4月8日 21:54
      .trans-info__contents
        .trans-info__heading 商品ID
        .trans-info__content 45
      .trans-info__contents
        .trans-info__heading お届け先
        .trans-info__content 〒100-2222<br>東京都千代田区永田町1-1-1<br>Nagataマンション100号<br>フリマ太郎 様
      .trans-info__title.trans-info__title--seller 出品者情報
      .trans-info__contents.trans-info__contents--seller
        .trans-info__icon
        .trans-info__name メルカリ五郎
