= link_to 'https://www.apple.com/jp/ios/app-store/', class: "content__btn__app" do
  = image_tag "Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg", alt: ""
= link_to 'https://play.google.com/store?hl=ja', class: "content__btn__google" do
  = image_tag "google-play-badge.png", alt: ""