-# 命名変更予定。prefixは、buyConfirm
%h2 商品購入確認ページ
= link_to '購入確定', item_path, method: :patch

.buy-confirm
  %section.buy-confirm__item-container
    %h2.buy-confirm__item-container__buy-head
      購入内容の確認
    %section.buy-confirm__item-container__buy-item
      .buy-confirm__item-container__buy-item__inner
        .buy-confirm__item-container__buy-item__inner__item-box
          .buy-confirm__item-container__buy-item__inner__item-box__image
            %img{src: "/sample.jpeg", alt: " ", width: "80", height: "74"}
          .buy-confirm__item-container__buy-item__inner__item-box__detail
            .buy-confirm__item-container__buy-item__inner__item-box__detail__name
              【再入荷】XXXXXXXX3点セット
            .buy-confirm__item-container__buy-item__inner__item-box__detail__price
              %span{}
                ¥550
              %span.buy-confirm__item-container__buy-item__inner__item-box__detail__price__fee
                （税込）送料込み

    %section.buy-confirm__item-container__buy-item2
      .buy-confirm__item-container__buy-item2__inner
        %form.buy-confirm__item-container__buy-item2__inner__form
          %li.buy-confirm__item-container__buy-item2__inner__form__price-table
            %ul.buy-confirm__item-container__buy-item2__inner__form__price-table__row
              .buy-confirm__item-container__buy-item2__inner__form__price-table__row__cell
                支払い金額
              .buy-confirm__item-container__buy-item2__inner__form__price-table__row__cell2
                %span{}
                  ¥550
            %ul.buy-confirm__item-container__buy-item2__inner__form__accordion
              %li.accordion-parent
                .checkbox-default.buy-use-point
                  %input{type: :checkbox, name:"hoge", value: "1"}
                    ポイントを使用 (所持ポイント: P＊)

            %section.buy-content.buy-user-info
              .buy-content-inner
                %h3.h3{}
                  支払い方法
                  %p.buy-user-info-text
                    %i.icon-plus-circle
                    %span.buy-register-text
                      登録してください

            %section.buy-content.buy-user-info
              .buy-content-inner
                %h3.h3{}
                  配送先
                  %p.buy-user-info-text
                    %i.icon-plus-circle
                    %span.buy-register-text
                      登録してください

            .buy-user-info3
              %button{type: :button, name: :buy3, class: :"buy-user-info3__btn-default3"}
                購入する
