.exhibition
  .exhibition__top
    manecari
    .exhibition__top__logo
  .exhibition__main
    .exhibition__main_form
      .exhibition__main__form__image
        .exhibition__main__form__image__title
        .exhibition__main__form__image__upload
      .exhibition__main__form__items
        .exhibition__main__form__items__title
        .exhibition__main__form__items__text
      .exhibition__main__form__detail
        .exhibition__main__form__detail__category
          .exhibition__main__form__detail__category__title
          .exhibition__main__form__detail__category__text
        .exhibition__main__form__detail__brand
          .exhibition__main__form__detail__brand__title
          .exhibition__main__form__detail__brand__text
        .exhibition__main__form__detail__condition
          .exhibition__main__form__detail__condition__title
          .exhibition__main__form__detail__comdition__text
      .exhibition__main__form__delivery
        .exhibition__main__form__delivery__fee
          .exhibition__main__form__delivery__fee__title
          .exhibition__main__form__delivery__fee__text
        .exhibition__main__form__delivery__shippingfromarea
          .exhibition__main__form__delivery__shippingfromarea__title
          .exhibition__main__form__delivery__shippingfromarea__text
        .exhibition__main__form__delivery__shippingduration
          .exhibition__main__form__delivery__shippingduration__title
          .exhibition__main__form__delivery__shippingduration__text
      .exhibition__main__form__price
        .exhibition__main__fprm__price__amount
          .exhibition__main__form__price__amount__title
          .exhibition__main__form__price__amount__text
        .exhibition__main__form__price__fee
          .exhibition__main__form__price__fee__title
          .exhibition__main__form__price__fee__text
        .exhibition__main__form__price__gains
          .exhibition__main__form__price__gains__title
          .exhibition__main__form__price__gains__text
      .exhibition__main__form__submit
        .exhibition__main__form__submit__exhibition
        .exhibition__main__form__submit__return
        .exhibition__main__form__submit__attention
  .exhibition__bottom
    .exhibition__bottom__policy
      .exhibition__bottom__policy__praivacy
      .exhibition__bottom__policy__rules
      .exhibition__bottom__policy__notation
    .exhibition__bottom__logo
    .exhibition__bottom__company-name
