// こちらは、作業用のために作成している仮のヘッダー、フッターです
// リファクタリングの際に整序すること

* {
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
}

// 商品出品ボタンのCSS（）
.ExhibitionBtn {
  width: 120px;
  padding: 15px;
  position: fixed;
  bottom: 32px;
  right: 30px;
  border-radius: 4px;
  background-color: #3ccace;
  text-align: center;
  &__text {
    color: #ffffff;
    font-size: 18px;
  }
  &__image {
    width: 60%;
    margin-top: 5px;
    vertical-align: bottom;
  }
}
