* {
  box-sizing: border-box;
}
.exhibition{
  min-height: 100vh;
  background-color: rgb(245, 245, 245);
  padding:0 45vh 0 45vh;
  &__top {
    color: rgb(51, 51, 51);
    background-color: rgb(245, 245, 245);
    font-family: Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
    font-size: 30px;
    height: 120px;
    line-height: 100px;
    text-align: center;
    font-weight: 600;
    padding-top: 30px;
  }
  &__main {
    background-color: #ffffff;
    height: 2400px;
    padding: 40px 40px 40px 40px;
    @mixin must {
      background: #FF1A00;
      color: #fff;
      border-radius: 3px;
      font-size: 11px;
      margin-right: 5px 10px;
      letter-spacing: 0.1em;
      border: 3px solid #FF1A00;
    }
    .must{
      @include must();
    }
    &__form{
      &__image{
        height: 250px;
        &__title{
          height: 50px;
          line-height: 10px;
          font-size: 14px;
          font-weight: 600;
        }
        &__upload{
          display: flex;
          flex-wrap: wrap;
          &__image{
            height: 100px;
            width: 120px;
            background-color: lightgrey;
            border: 1px solid white;
          }
        }
        .limit{
          font-size: 12px;
          font-weight: normal;
        }         
      }
      &__name{
        height: 150px;
        &__title{
          height: 50px;
          line-height: 50px;
          font-size: 14px;
          font-weight: 600;
        }
        &__text{
          width: 600px;
          height:50px;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
          font-size: 16px;
        } 
      }
      &__info{
        height: 270px;
        &__title{
          height: 50px;
          line-height: 50px;
          font-size: 14px;
          font-weight: 600; 
        }
        &__text{
          width: 600px;
          height:200px;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
          font-size: 16px;
        }
      }
      &__detail{
        font-size: 14px;
        font-weight: bold;
        color: gray;
        padding-top: 10px; 
        &__category{
          color: black;
          &__title{
            height: 50px;
            line-height: 50px;
            font-size: 14px;
            font-weight: 600;
          }
          &__text{
            width: 600px;
            height:50px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            font-size: 16px;
            font-weight: normal;
            margin-bottom: 20px;
          } 
        }
        &__size{
          color: black;
          &__title{
            height: 50px;
            line-height: 50px;
            font-size: 14px;
            font-weight: 600;
          }
          &__text{
            width: 600px;
            height:50px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            font-size: 16px;
            font-weight: normal;
          }
        }
        &__brand{
          color: black;
          &__title{
            height: 50px;
            line-height: 50px;
            font-size: 14px;
            font-weight: 600;
            .free{
              background: #bfbfbf;
              color: #fff;
              border-radius: 3px;
              font-size: 11px;
              margin-right: 5px 10px;
              letter-spacing: 0.1em;
              border: 3px solid #bfbfbf
            }
          }
          &__text{
            width: 600px;
            height:50px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            font-size: 16px;
            font-weight: normal;
          }
        }
        &__condition{
          color: black;
          &__title{
            height: 50px;
            line-height: 50px;
            font-size: 14px;
            font-weight: 600;
          }
          &__text{
            width: 600px;
            height:50px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            font-size: 16px;
            font-weight: normal;
          }
        }
      }
      &__delivery{
        font-size: 14px;
        font-weight: bold;
        color: gray;
        padding-top: 10px;
        &__fee{
          color: black;
          &__title{
            height: 50px;
            line-height: 50px;
            font-size: 14px;
            font-weight: 600;
          }
          &__text{
            width: 600px;
            height:50px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            font-size: 16px;
            font-weight: normal;
          }
        }
        &__service{
          color: black;
          &__title{
            height: 50px;
            line-height: 50px;
            font-size: 14px;
            font-weight: 600;
          }
          &__text{
            width: 600px;
            height:50px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            font-size: 16px;
            font-weight: normal;
          }
        }
        &__area{
          color: black;
          &__title{
            height: 50px;
            line-height: 50px;
            font-size: 14px;
            font-weight: 600;
          }
          &__text{
            width: 600px;
            height:50px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            font-size: 16px;
            font-weight: normal;
          }
        }
        &__handlingtime{
          color: black;
          &__title{
            height: 50px;
            line-height: 50px;
            font-size: 14px;
            font-weight: 600;
          }
          &__text{
            height: 100px;
            width: 600px;
            height:50px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            font-size: 16px;
            font-weight: normal;
            color: black;
          }
        }
      }
      &__price{
        font-size: 12px;
        font-weight: bold;
        color: gray;
        padding-top: 10px;
        &__amount{
          color: black;
          &__title{
            height: 50px;
            line-height: 50px;
            font-size: 14px;
            font-weight: 600;
          }
          &__text{
            height: 100px;
            width: 600px;
            height:50px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            color: black;
            font-size: 16px;
          }
        }
        &__fee{
          color: black;
          &__title{
            height: 50px;
            line-height: 50px;
            font-size: 14px;
            font-weight: 600;
          }
          &__text{
            height: 100px;
            width: 590px;
            height:50px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            color: black;
            font-size: 16px;
          }
        }
        &__gains{
          color: black;
          &__title{
            height: 50px;
            line-height: 50px;
            font-size: 14px;
            font-weight: 600;
          }
          &__text{
            height: 100px;
            width: 600px;
            height:50px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            color: black;
          }
        }
      }
      &__submit{
        &__exhibition{ 
          margin: 50px 0 0 100px;
          background-color: mediumturquoise;
          color: white;
          width: 400px;
          height: 50px;
          font-weight: bold; 
          border-radius: 4px;
          font-size: 18px;
        }
        &__return{
          margin: 50px 0 0 100px;
          background-color: gray;
          width: 400px;
          height: 50px;
          font-weight: bold;
          border-radius: 4px;
          text-align: center;
          line-height: 50px;
        }
        .return{
          color: black;
          text-decoration-line: none;
        } 
        &__attention{
          font-size: 7px;
          margin: 50px 100px 0 100px; 
        }
        .blue{
          color: mediumturquoise;
        }
        .black{
          color: black;
        }
      } 
    }
  }
  &__bottom{
    height: 300px;
    text-align: center;
    &__policy{
      display: flex;
      margin-top: 30px;
      font-size: 12px;
      &__praivacy{
        margin: 0 15px 0 150px;
      }
      &__rules{
        margin-right: 15px;
      }
    }
    &__logo{
      margin-top: 50px;
    }
  }
}