@media screen and (max-width: 1040px) {
  .mypage {
    &__content {
      max-width: 700px;
      margin: 0 auto;
    }
    &__left {
      margin: 40px 0;
      padding: 0;
    }
  }
}

@media screen and (min-width: 1040px) {
  .mypage {
    &__content {
      max-width: 1040px;
      margin: 0 auto;
      display: flex;
      flex-flow: row-reverse;
      justify-content: space-between;
    }  
    &__left {
      width: 300px;
      margin: 0;
    }  
    &__right {
      width: 700px;
      margin-bottom: 50px;
    }  
  }  
}  

.mypage {
  padding-top: 40px;
  background-color: #f8f8f8;
  &__right {
    &--upper {
      height:160px;
      background-image: url(asset_path("pict/mypage_user_bg.jpeg"));
      position: relative;
      text-align: center;
      background-size: cover;
    }
  }
  &__log-out {
    width: 700px;
    height: 180px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    &--link {
      text-decoration: none;
    }
    &--button {
      width: 320px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      margin: 0 auto;
      color: #EEEEEE;
      background-color: #3CCACE;
    }
  }
  &__user-icon {
    position: relative;
    top: 20px
  }
  &__user-name {
    position: relative;
    margin: 8px 0 0;
    font-size: 14px;
    font-weight: bold;
  }
  &__user-status {
    margin: 8px 0 0;
  }
  &__user-status span {
    font-weight: bold;
  }
  &__container-tab {
    width: 100%;
    display:flex;
    height:74px;
    line-height:74px;
    font-weight: bold;
    background: #EEEEEE;
    &--default{
      width:50%;
      text-align: center;
      &:hover {
        color: #666666;
      }
    }
    &--exhibitor{
      width: 33.3%;
      text-align: center;
      &:hover {
        color: #666666;
      }
    }
    &--notice-active, &--order-active, &--exhibitor-active {
      background: #FFFFFF;
      line-height:70px;
      border-top:solid #3CCACE 2px;
    }
  }
  &__container--lower {
    padding:16px;
    text-align: center;
  }
  &__container {
    background-color: #FFFFFF;
    &--item {
      margin-top: 40px;
    }
    &--title{
      padding: 0 16px;
      box-sizing: border-box;
      background: #fcfcfc;
      line-height:72px;
      font-weight: bold;
    }
  }
}

.mypage-user-image {
  height: 60px;
  width: 60px;
}

.info {
  &__block {
    display: none;
    &--active {
      display: block;
    }
  }
  &__content {
    display:flex;
    min-height: 80px;
    padding: 16px;
    color: black;
    text-decoration: none;
    border-bottom: solid #F5F5F5 1px;
    &-right{
      margin-left: 20px;
    }
    &:hover {
      background-color: #f8f8f8;
    }
  }
  &__message {
    width: 100%;
    line-height: 80px;
    font-size: 16px;
    text-align: center;
    color: #999999;
  }
}

.info-message {
  overflow: hidden;
  display: block;
  max-height: 4.4em;
  line-height: 1.5;
  font-size: 14px;
  color: rgb(51, 51, 51);
}

.info-data {
  font-size: 13px;
  color: #888;
}

.info-index {
  &__btn {
    display: block;
    height: 56px;
    margin: 0 auto;
    background: #eee;
    color: #333;
    line-height: 56px;
    text-align: center;
  }
  &__link {
    text-decoration: none;
  }
}

.mypage-logo-icon {
  height: 48px;
  width: 48px;
}

.mypage-nav-bar {
  height: 48px;
  position: relative;
  border-top: 1px solid #eee;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  background: #fff;
  z-index: 1;
  &--link {
    text-decoration: none;
    color: #333;
  }
}

.mypage-nav-bar ul{
  padding-inline-start: 40px;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

.mypage-nav-bar li{
  display: inline-block;
  font-size: 16px;
  line-height: 1.2;
}