.mypage-side-bar {
  width: auto;
  &__list {
    position:relative;
    height: 48px;
    padding-left: 16px;
    box-sizing: border-box;
    border-bottom: 1px solid #eee;
    line-height:48px;
    background: #ffffff;
    a {
      display: block;
    }
    .fa-chevron-right {
      position: absolute;
      top: 50%;
      right: 16px;
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%);
      color: #ccc;
    }
    &--no-action {
      background-color: #999999;
    }
    &--focus {
      background-color: #eeeeee;
      font-weight: bold;
    }
  }
  &__lower {
    padding: 40px 0;
  }
}

.mypage-side-nav-ul--list {
  text-decoration: none;
  color: #333;
}

