* {
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
}

.header {
  padding: 0 60px;
  .header-inner {
    width: 100%;
    min-height: 80px;
    margin-top: 10px;
    .main-header {
      display: flex;
      padding-bottom: 10px;
      align-items: center;
      &__icon {
        padding: 10px 30px 10px 0;
        &__img {
          width: 140px;
          display: block;
        }
      }
      &__search {
        width: 100%;
        margin-left: auto;
        form {
          display: flex;
          .main-header__search__input {
            width: calc(100% - 26px);
            height: 36px;
            padding: 0 0 0 5px;
          }
          .main-header__search__btn {
            width: 36px;
            background-color: #3CCACE;
            padding: 8px;
          }
        }
      }
    }
    .sub-header {
      display: flex;
      margin-bottom: 10px;
      font-size: 14px;
      &__left-list {
        display: flex;
        &__first {
          padding-right: 40px;

        }
        &__second {
          
        }
      }
      &__right-list {
        display: flex;
        margin-left: auto;
        &__login {
          padding-right: 40px;
          text-decoration: none;
          color: black;
        }
        &__new {
          text-decoration: none;
          color: black;
        }
      }
    }
  }
}
.main {
  .top-visual {
    background-image: url(bg-mainVisual-pict_pc.jpg);
    height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    background-size: cover;
    position: relative;
    background-position: top center;
    padding: 0 60px;
    .content {
      max-width: 1280px;
      width: 100%;
      margin: 0 auto;
      padding: 35px 0 0 0;
      color: white;
      &__sub-title {
        font-size: 60px;
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
      }
      &__text {
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-size: 18px;
      }
      &__btn {
        margin-top: 24px;
        display: flex;
        align-items: center;
        &__app {
          width: 180px;
          img {
            width: 100%;
          }
        }
        &__google {
          width: 230px;
          img {
            width: 100%;
          }
        }
      }
    }
  }
  .top-intro {
    padding: 60px 20px;
    .sub-title {
      text-align: center;
      font-size: 26px;
      line-height: 1.4;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative;
    }
    .sub-title::after {
      content: "";
      width: 70px;
      height: 4px;
      background-color: #3CCACE;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    .top-lists {
      text-align: center;
      display: flex;
      max-width: 1020px;
      width: 100%;
      margin: 0 auto;  
      .top-list {
        margin: 16px 5% 0 0;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__img {
          position: relative;
          margin-bottom: 20px;
          &__number {
            position: absolute;
            font-size: 30px;
            padding: 10px 20px;
            background-color: #3CCACE;
            color: #fff;
          }
          img {
            width: 100%;
          }
        }
        &__title {
          font-weight: bold;
          font-size: 24px;
          line-height: 50px;
          margin: 0 0 0 2px;
          span {
            color: #3CCACE;
          }
        }
        &__text {
          font-size: 18px;
          line-height: 1.5;
          margin: 16px 0 0;      
        }
      }
      .top-list__last {
        margin: 16px 0 0;
      }
    }
  }
  .middle-visual {
    background-image: url(bg-topMiddleDl-pict.jpg);
    background-position: bottom right;
    height: 400px;
    background-size: cover;
    display: flex;
    align-items: center;
    .content {
      color: #fff;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      text-align: left;
      max-width: 1040px;
      width: 100%;
      margin: 0 auto;
      &__sub-title {
        font-size: 27px;
        font-weight: bold;
        line-height: 1.4;    
      } 
      &__text {
        font-size: 18px;
        margin: 20px 0 30px;
        line-height: 1.5;
      }
      &__btn {
        display: flex;
        align-items: center;
        &__app {
          width: 180px;
          img {
            width: 100%;
          }
        }
        &__google {
          width: 230px;
          img {
            width: 100%;
          }
        }
      }
    }
  }
  .middle-intro {
    padding: 60px 100px;
    background-color: #fff;
    .head {
      font-size: 27px;
      text-align: center;
      margin: 0 0 40px;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative;
    }
    .head::after {
      content: "";
      width: 70px;
      height: 4px;
      background-color: #3CCACE;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);  
    }
    .middle-lists {
      max-width: calc(1040px + 20px);
      width: 100%;
      margin: 0 auto;
      display: flex;
      .middle-list {
        display: flex;
        flex-direction: column;
        width: calc(1 / 3 * 100%);
        text-align: center;
        padding: 0 20px;
        &__img {
          width: 70%;
          margin: 0 auto;
          img {
            width: 100%;
          }
        }
        &__title {
          margin: 38px 0 10px;
          font-size: 19px;
          font-weight: bold;      
        }
        &__text {
          margin: 0 0 40px;
          font-size: 17px;
          font-weight: 200;
          text-align: left;      
        }
      }
    }
  }
  .pickup-categories {
    padding: 80px 0 80px 0;
    background-color: #f8f8f8;
    height: 100%;
    .head {
      text-align: center;
      font-size: 28px;
      line-height: 1.4;
      font-weight: bold;  
    }
    .products {
      text-align: center;
      .product-head {
        font-size: 24px;
        text-decoration: none;
        color: #3CCACE;
        font-weight: bold;
      }
      .product-lists {
        width: 780px;
        margin: 26px auto;
        display: flex;
        justify-content: space-around;    
        .product-list {
          width: 220px;
          display: inline-block;
          float: left;
          &__img {
            background-color: #fff;
            display: inline-block;
            text-decoration: none;
            img {
              height: 150px;
              width: 220px;
              object-fit: cover;
            }
            .product-list__body {
              background-color: white;
              color: #333;
              padding: 16px;
              &__name {
                line-height: 1.5;
                font-size: 16px;
                text-align: left;
              }
              &__detail {
                font-size: 16px;
                ul {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;              
                }
                p {
                  text-align: left;
                  font-size: 10px;
                }
              }
          
            }
          }
        }
      }
    }
  }
  .pickup-brand {
    padding: 0 0 80px 0;
    background-color: #f8f8f8;
    height: 100%;
    .head {
      text-align: center;
      font-size: 28px;
      line-height: 1.4;
      font-weight: bold;  
    }
    .products {
      text-align: center;
      .product-head {
        font-size: 24px;
        text-decoration: none;
        color: #3CCACE;
        font-weight: bold;
      }
      .product-lists {
        width: 780px;
        margin: 26px auto;
        display: flex;
        justify-content: space-around;    
        .product-list {
          width: 220px;
          display: inline-block;
          float: left;
          &__img {
            background-color: #fff;
            display: inline-block;
            text-decoration: none;
            img {
              height: 150px;
              width: 220px;
              object-fit: cover;
            }
            .product-list__body {
              background-color: white;
              color: #333;
              padding: 16px;
              &__name {
                line-height: 1.5;
                font-size: 16px;
                text-align: left;
              }
              &__detail {
                font-size: 16px;
                ul {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;              
                }
                p {
                  text-align: left;
                  font-size: 10px;
                }
              }
          
            }
          }
        }
      }
    }
  }
}
.banner {
  background-image: url(bg-appBanner-pict.jpg);
  padding: 100px 40px;
  position: relative;
  background-size: cover;
  background-position: center;
  .inner {
    color: #fff;
    text-align: center;
    text-shadow: 0 0 5px rgba(0,0,0,0.4);
    &__title {
      font-size: 24px;
      font-weight: bold;
      line-height: 1.4;  
    }
    &__text {
      font-size: 35px;
    }
    &__btn {
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 20px auto 0;
      align-items: center;
      &__app {
        margin-right: 10px;
        img {
          width: 180px;
        }
      }
      &__google {
        img {
          width: 230px;

        }
      }  
    }
  }
}
.footer {
  padding: 60px 0;
  color: #fff;
  background-color: #272727;
  text-align: center;
  &__contents {
    max-width: 840px;
    margin: 0 auto;
    display: flex;
    .footer__content {
      display: flex;
      flex-direction: column;
      width: calc(1 / 3 * 100%);
      margin: 0 2% 0 0;  
      &__head {
        margin: 0 0 20px;
        font-size: 16px;
        font-weight: bold;
      }
      a {
        color: #fff;
        text-decoration: none;
        font-size: 12px;
        line-height: 32px;
      }
    }
  }
  &__logo {
    max-width: 160px;
    width: 100%;
    margin: 0 auto;
    img {
      width: 100%;
      vertical-align: bottom;
    }
    p {
      font-size: 14px;
    }
  }
}