@mixin User-links {
  height: 100px;
  text-align: center;
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  &__root {
    width: 200px;
    font-size: 30px;
    display: block;
    text-decoration: none;
    margin: 0 auto;
  }
}

@mixin User-button-base {
  margin: 0 auto;
  font-size: 14px;
  line-height: 50px;
  height: 50px;
  width: 370px;
  margin-top: 15px;
  border: 1px solid transparent;
  position: relative;
  i {
    font-size: 26px;
    position: absolute;
    top: 10px;
    left: 16px;
  }
}

.User-Account-page {
  background-color: #eee;
  &__header {
    @include User-links;
    &__user-manage, &__login-out {
      @include User-links;
      float: right;
    }
  }
  &__content {
    display: block;
    background-color: #eeeeee;
    .User-contents {
      height: 100vh;
      width: 700px;
      background-color: #f8f8f8;
      margin: 0 auto;
      &__head {
        font-size: 15px;
        font-weight: bold;
        text-align: center;
        padding: 40px 65px;
        border-bottom: solid 1px #eeeeee;
        &__comment {
          margin-bottom: 10px;
        }
        &__create {
          display: block;
          margin: 0 auto;
          width: 370px;
          border: solid 1px #0099e8;
          background-color: #0099e8;
          line-height: 40px;
          text-decoration: none;
          color: #fff;
        }
      }
      &__inner {
        padding: 40px 65px;
        display: grid;
        &__facebook {
          @include User-button-base;
          background-color: #385185;
          color: #fff;
        }
        &__google {
          @include User-button-base;
          background-color: #fff;
          color: #222222;
          border: solid 1px #222222;
        }
      }
    }
  }
}

form {
  padding: 25px 165px 35px;
  .User-field {
    margin-bottom: 10px;
    &__label {
      padding: 10px 0;
      letter-spacing: 1px;
      font-size: 14px;
      font-weight: 200;
      display: contents;
    }
    span {
      background-color: #ea352d;
      color: #f8f8f8;
      margin: 0 0 0 4px;
      padding: 2px 4px;
      font-size: 15px;
    }
    &__input {
      input {
        width: 100%;
        margin: 25px 0;
        padding: 10px;
        letter-spacing: 1px;
        margin-top: 8px;
      }
    }
  }
  .User-actions {
    margin: 24px 0;
    display: grid;
    &__btn {
      display: inline-block;
      background-color: #3ccace;
      color: #fff;
      height: 50px;
      padding: 0 30px;
      line-height: 50px;
      letter-spacing: 1px;
      text-align: center;
      border-radius: 2px;
    }
  }
  .User-pw__missing {
    display: block;
    margin: 40px 0 0;
    a {
      text-decoration: none;
      color: #0099e8;
    }
    a:hover {
      text-decoration: underline;
    }
  }
}
.User-page-footer {
  width: 460px;
  height: 220px;
  margin: 0 auto;
  &__bar {
    display: flex;
    padding: 20px 0 30px 0;
    margin: 0 auto;
    li {
      margin: 0 0 0 50px;
      font-size: 10px;
      list-style: none;
    }
  }
  &__root {
    height: 60px;
    display: block;
    margin: 0 auto;
  }
  &__logo {
    text-align: center;
    padding: 20px 0 0 0;
  }
}
